:root {
  --vue-calendar-primary: #3d6bcd;
  --vue-calendar-primary-ghost: #bcccee;
  --vue-calendar-primary-text: #fff;
  --vue-calendar-hover: #b7c8eb;
  --vue-calendar-disable: #d1d1d1;
  --vue-calendar-disable-text: #000000;
  --vue-calendar-backgound: #fff;
  --vue-calendar-box-shadow: 2px 6px 6px #74747466;
  --vue-calendar-border-radius: 8px;
  --vue-calendar-padding: 12px;
  --vue-calendar-gap: 6px;
  --vue-calendar-day-size: 24px;
  --vue-calendar-controls-gap: 8px;
  --vue-calendar-control-size: 24px;
  --vue-calendar-month-font-size: 20px;
  --vue-calendar-month-line-height: 32px;
}
